<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../assets/css/global.css">
    <link rel="stylesheet" href="../assets/css/about.css">
    <link rel="stylesheet" href="../assets/css/navmenu.css">
    <title>About Nelu</title>
</head>
<body>

    <!-- Navigation menu -->
    <nav>
        <ul id="navList">
            <li id="dropdownBtn">Navigation</li>
            <div>
                <li><a href="../index.html">Homepage</a></li>
                <li><a href="./topics.html">Topics</a></li>
                <li><a href="./trivia.html">Trivia</a></li>
            </div>
        </ul>
    </nav>

    <!-- Main content -->
    <div id="container">
        <h1>Hello everyone, my name's Nelu</h1>
        <hr>
        <div id="inner-container">
        <div>I'm originally from Moldova but I moved to Belgium back in 2011.</div><br>
        <div>Currently, I'm studying for my last retakes which will take place in August in order to get my Bachelor of Business Administration degree from KU Leuven.</div><br>
        <div>I started out with learning Web Development back in 2017 and have since then expanded and wanted to learn more about other areas of Software Development as well as the theoretical aspects of Computer Science</div><br>
        <div>Some of my hobbies besides programming include: playing the guitar, learning new languages (currently learning Japanese) and reading</div><br>
        <div>I look forward to meeting you all!</div>
        </div>
    </div>
</body>
</html>