<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../assets/css/global.css">
    <link rel="stylesheet" href="../assets/css/topics.css">
    <link rel="stylesheet" href="../assets/css/navmenu.css">
    <title>Topics</title>
</head>
<body>
    <!-- Navigation menu -->
    <nav>
        <ul id="navList">
            <li id="dropdownBtn">Navigation</li>
            <div>
                <li><a href="../index.html">Homepage</a></li>
                <li><a href="./about.html">About Me</a></li>
                <li><a href="./trivia.html">Trivia</a></li>
            </div>
        </ul>
    </nav>

    <h1>Topic #1: Decompilers</h1>
    <hr>
    <div class="container">
        <div>A topic which I recently thought about (one of those aha moments you get in the shower) are decompilers. </div>
        <div>A compiler is essentially a program which takes in code written in a high level (i.e. human readable) programming language and translates it to machine code or lower-level language which the computer can understand.</div><br>
        <div>A decompiler does the opposite, it takes in the machine code which is unreadable to us and tries to translate it into a higher-level programming language. Then I wondered, is it actually theoretically possible to create a (good) decompiler which translates the machine code back to something which closely matches the original code? </div><br>

        <div>From what I've read and seen, current decompilers frequently create code which is hard to read/understand and while it may be theoretically possible to create a near perfect one, it seems to be an incredibly difficult task. From a reverse engineering perspective this would of course be a perfect tool (my first instinct is that it'd be of tremendous help for locating and understanding computer viruses)</div>

    </div>

    <h1>Topic #2: Pseudo-random HTML and CSS only game</h1>
    <hr>
    <div class="container">
        <div>Another interesting idea I had was whether it'd be possible to create some kind of game (probably a color clicking game where you just click on a circle before it disappears) using only HTML and CSS. Therefore no Javascript, which means we have almonst no logic or state we can work with. The idea sounds intriguing because I instinctively feel that it's possible using HTML checkboxes and the CSS :checked selector, you can simulate basic logic/boolean values. </div><br>
        <div>The checkbox & :checked CSS selector is a neat trick if you want to make some click event without using Javascript. Additionally, CSS has some built-in functions and you can make variable in CSS, so that might solve our issue with state. I just think it's an interesting challenge to really see what the limits of HTML and CSS are. I've seen other interesting projects such as "The Mine" which claim to be only HTML and CSS, but that one use the Haml templating language which offers logic that isn't available to pure HTML.</div><br>
        

        <div>So that should be a fun little challenge. Will the game/result be fun? No, but hey it'll be made in only HTML and CSS! I'll be expecting my Turing award in the mail by the following Monday.</div>

    </div>

</body>
</html>