<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trivia</title>
    <link rel="stylesheet" href="../assets/css/global.css">
    <link rel="stylesheet" href="../assets/css/trivia.css">
    <link rel="stylesheet" href="../assets/css/navmenu.css">
</head>
<body>
    <!-- Navigation menu -->
    <nav>
        <ul id="navList">
            <li id="dropdownBtn">Navigation</li>
            <div>
                <li><a href="../index.html">Homepage</a></li>
                <li><a href="./about.html">About Me</a></li>
                <li><a href="./topics.html">Topics</a></li>
            </div>
        </ul>
    </nav>

    <!-- Main content -->
    <div id="container">
        <h1>Aka the place where I pretend someone is actually interested in the following information and definitely, 100%, surely, undoubtedly would ask these questions</h1>
        <div class="item">
            <input type="checkbox">
            <div class="question">Which code editor or IDE do you use?</div>
            <div class="answer">Microsoft's Visual Studio Code. It's free! And quite fast given that it's built with Electron.js. The theme I use is called "Dark Korokai". For Java I've recently switched from Intellij IDEA to Eclipse since it's way less resource demanding. I'm going to try (again) to learn and use Vim in my spare time in the future.</div>
        </div>

        <div class="item">
            <input type="checkbox">
            <div class="question">Any upcoming programming languages you're excited for?</div>
            <div class="answer">Yes, <a href="https://crystal-lang.org/" target="_blank">Crystal lang</a>. Both the syntax and performance are great. The motto/slogan is "Fast as C, slick as Ruby".</div>
        </div>

        <div class="item">
            <input type="checkbox">
            <div class="question">What's your favorite guitar solo?</div>
            <div class="answer">What a great question, I'm glad you asked :). I'd have to say the solo for "Tornado of Souls" by Megadeth. Here's a cover since it's more entertaining to see the performance (his cover is absolutely perfect)
                <iframe width="560" height="315" src="https://www.youtube.com/embed/cMdIk0Z0rio" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
        </div>

        <div class="item">
            <input type="checkbox">
            <div class="question">Is Head First Java a good book?</div>
            <div class="answer">No... it's a great book. I personally found it really entertaining so I definitely recommend it.</div>
        </div>

        <div class="item">
            <input type="checkbox">
            <div class="question">Which sites do you use/recommend for coding challenges/problems?</div>
            <div class="answer"><ul>
                <li><a href="https://codesignal.com/" target="_blank">codesignal.com</a> for general/fun exercises, it has an arcade-ish feel to it</li>
                <li><a href="https://projecteuler.net/" target="_blank">projecteuler.net</a> for more math related problems</li>
                <li><a href="https://codeforces.com/" target="_blank">codeforces.com</a> for a more blended mix of math-related and programming related problems + for competitive programming (it has an ELO rating system which is nice)</li>
            </ul></div>
        </div>


        </div>
    </div>
</body>
</html>