body{
    margin: 0;
    padding: 0;
}

*{
    font-family: 'Roboto', sans-serif;
}

nav{
    background: red;
}

ul{
    list-style: none;
    position: absolute;
    right: 3vw;
    z-index: 999;
}

ul a{
    text-decoration: none;
    color: black;
    transition: background 0.2s;
    display: block;
    width: 100%;
}

ul div{
    display: none;
    border: 1px solid black;
}

#dropdownBtn{
    border: 1px solid black;
    padding: 5px;
    transition: background 0.3s;
}

#dropdownBtn:hover{
    cursor: pointer;
    background: rgb(209, 209, 209);
}

#dropdownBtn:hover ~ div{
    display: block;
}

ul div:hover{
    display: block;
}

ul li a:hover{
    background: rgb(209, 209, 209);
}

h1{
    text-align: center;
    font-weight: 400;
    padding-top: 120px;
}

#container{
    width: 80vw;
    margin: 0 auto;
}

#container div{
    font-size: 30px;
}

#inner-container{
    width: 60vw;
    margin: 0 auto;
}

@media only screen and (max-width: 1100px){
    #container div{
        font-size: 20px;
    }

    #inner-container{
        width: 70vw;
        margin: 0 auto;
    }
}