#navList{
    list-style: none;
    position: absolute;
    right: 3vw;
    z-index: 999;
}

#navList a{
    text-decoration: none;
    color: black;
    transition: background 0.2s;
    display: block;
    width: 100%;
    font-family: 'Roboto', sans-serif;
}

#navList div{
    display: none;
    border: 1px solid black;
}

#dropdownBtn{
    border: 1px solid black;
    padding: 5px;
    transition: background 0.3s;
    font-family: 'Roboto', sans-serif;
}

#dropdownBtn:hover{
    cursor: pointer;
    background: rgb(209, 209, 209);
}

#dropdownBtn:hover ~ div{
    display: block;
}

#navList div:hover{
    display: block;
}

#navList li a:hover{
    background: rgb(209, 209, 209);
}
