h1{
    font-weight: 400;
    text-align: center;
    padding-top: 110px;
}



hr{
    width: 60vw;
}

.container{
    width: 50vw;
    margin: 0 auto;
}

.container:last-of-type {
    padding-bottom: 50px;
}